.c-input {

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="url"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="search"],
    input[type="tel"],
    textarea {
        color: var(--ls-color-dark);
        background-color: var(--ls-color-light);
        
        border-radius: calc(var(--ls-radius)*.5rem);
        padding: calc(var(--ls-spacing)*0.25rem) calc(var(--ls-spacing)*0.35rem);
    }

    input[type="checkbox"],
    input[type="radio"] {}
}
