.c-input.-toggle-input input[type="checkbox"]+.toggle {
    width: 60px;
    height: 32px;
    padding: 4px;
    border-radius: 42px;
    background: #B7BABF;
    box-sizing: border-box;
    transition: background 0.5s ease;

    .toggle-pill {
        display: block;
        width: 24px;
        height: 24px;
        background: white;
        border-radius: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        margin-left: 0;
        transition: margin 0.08s cubic-bezier(0.77, 0.49, 1, 1);
    }
}

.c-input.-toggle-input input[type="checkbox"]:checked+.toggle {
    background: var(--ui-color-primary);
    transition: background 0.5s ease;

    .toggle-pill {
        margin-left: calc(100% - 24px);
    }
}

.c-input.-toggle-input input[type="checkbox"]:focus+.toggle {
    background: var(--ui-color-primary);
}

.c-input.-toggle-input input[type="checkbox"] {
    // visually hidden but accessible
    // credit: https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px
}
