.o-cp {
    @apply m-0 flex w-full h-screen overflow-hidden;
    
    background-color: var(--ls-color-light);

    &__sidebar {
        @apply w-3/12 shadow-sm h-full;
    
        max-width: 300px;
    }

    &__topbar {
        @apply w-full shadow-sm h-20;
    }

    &__main {
        @apply flex-grow flex flex-col overflow-y-scroll;
    }

    &__content {
        @apply flex-grow;
    }
}
