.c-sidebar {
    @apply m-0 p-0 flex flex-col min-w-full min-h-screen;

    color: var(--cp-color-white);
    background-color: var(--cp-color-primary);

    &__brand {
        display: flex;
        align-items: center;
        justify-content: left;
        height: calc(var(--cp-spacing)*2.5rem);
        padding: 0 calc(var(--cp-spacing)*1rem);

        a {
            @apply text-2xl;

            color: var(--cp-color-white);
        }
    }

    &__nav {
        @apply flex-grow;
        padding: calc(var(--cp-spacing)*.5rem);

        nav {

            > a {
                @apply block;

                padding: calc(var(--cp-spacing)*.5rem);
                border-radius: calc(var(--cp-radius)*.5rem);

                &.-active {
                    @apply font-bold;

                    //background-color: var(--cp-color-light); // @todo light-overlay
                    //background-color: #ffffff15; // Lighten
                    background-color: #00000015; // Darken
                    //color: var(--cp-color-dark); // Darken
                }
            }

            ul {
                margin-bottom: calc(var(--cp-spacing)*.5rem);

                li {
                    @apply list-disc ml-4;
                    
                    &.-has-active {}

                    a {
                        @apply block;

                        padding: calc(var(--cp-spacing)*.125rem);
                        padding-left: 0;

                        &.-active {
                            @apply font-bold;
                        }
                    }
                }
            }
        }
    }
}
