.text-buttons {
    color: var(--ls-color-buttons);
}
.c-sidebar {
    @apply m-0 p-0 flex flex-col min-w-full min-h-screen bg-primary;

    &__brand {
        @apply flex items-center justify-start h-20 p-8;

        a {
            @apply text-2xl text-buttons;
        }
    }

    &__nav {
        @apply flex-grow p-4;

        nav {

            >a {
                @apply block p-4 rounded-lg text-buttons;

                &.-active {
                    @apply font-bold;

                    //background-color: var(--ls-color-light); // @todo light-overlay
                    //background-color: #ffffff15; // Lighten
                    background-color: #00000015; // Darken
                    //color: var(--ls-color-dark); // Darken
                }
            }

            ul {
                @apply mb-4;

                li {
                    @apply list-none ml-8;

                    &.-has-active {}

                    a {
                        @apply block p-1 pl-0 text-buttons;

                        &.-active {
                            @apply font-bold;
                        }
                    }
                }
            }
        }
    }
}
