.c-topbar {
    @apply m-0 h-full w-full flex items-center;
    
    color: var(--ls-color-dark);
    background-color: var(--ls-color-white);

    padding: 0 calc(var(--ls-spacing)*1rem);

    &__buttons {
        @apply flex-grow;
    }
}
