.c-buttons {
    display: flex;
}

.a-button {
    @apply font-bold;

    color: var(--cp-color-white);
    background-color: var(--cp-color-primary);
    border-radius: calc(var(--cp-radius)*.5rem);
    padding: calc(var(--cp-spacing)*0.35rem) calc(var(--cp-spacing)*0.5rem);

    span {
        color: var(--cp-color-white);
    }
}
