.c-buttons {
    display: flex;
}

.a-button {
    @apply font-bold inline-block;

    color: var(--ls-color-white);
    background-color: var(--ls-color-primary);
    border-radius: calc(var(--ls-radius)*.5rem);
    padding: calc(var(--ls-spacing)*0.35rem) calc(var(--ls-spacing)*0.5rem);

    span {
        color: var(--ls-color-white);
    }
}
