.c-shortcuts {
    display: flex;
    align-items: center;

    margin-left: calc(var(--cp-spacing)*.5rem);

    >div {
        position: relative;

        > a,
        > button {
            padding: 0;
            border: none;
            display: flex;
            background: none;
            align-items: center;
            border-radius: 999px;
            justify-content: center;
            height: calc(var(--cp-spacing)*1.5rem);
            width: calc(var(--cp-spacing)*1.5rem);
            border: 2px solid transparent;
            outline: none;

            &:active,
            &:focus {
                border-color: var(--cp-color-primary);
            }

            svg,
            img {
                width: calc(var(--cp-spacing)*1.25rem);
                height: calc(var(--cp-spacing)*1.25rem);
            }

            svg {
                color: var(--topbar-text-color);
            }

            img {
                border-radius: 999px;
            }
        }
    }
}
