.c-shortcuts {
    @apply flex items-center gap-4;

    >div {
        position: relative;

        > a,
        > button {
            @apply h-10 w-10 p-0 inline-block border-0 border-transparent outline-none flex items-center justify-center rounded-full bg-transparent;

            &:active,
            &:focus {
                @apply shadow-outline;
            }

            svg,
            img {
                @apply h-10 w-10;
            }

            svg {
                @apply text-dark;
            }

            img {
                @apply rounded-full;
            }
        }
    }
}
