.c-table {

    table {
        min-width: 100%;

        thead {

            tr {
                th {
                    @apply px-8 py-4 text-left font-medium;

                    background-color: rgba(0, 0, 0, 0.10);

                    &.c-table__selector {
                        width: 1px;
                        @apply px-8 pr-0;
                    }

                    svg {
                        @apply h-5 w-5 inline align-middle ml-1 opacity-50;
                    }
                }
            }
        }

        tbody {

            tr {
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    @apply shadow-sm;

                    border: 1px solid rgba(0, 0, 0, 0.05);
                    background-color: rgba(0, 0, 0, 0.025);
                }

                td {
                    @apply px-8 py-3 whitespace-nowrap;

                    &.c-table__selector {
                        width: 1px;
                        @apply px-8 pr-0;
                    }
                }
            }
        }
    }

    &__content {
        @apply shadow-sm m-4 bg-white rounded-lg overflow-hidden;
    }

    &__buttons {

        nav {
            @apply justify-end;
        }
        
        .a-button {
            @apply font-medium px-2 py-1;
        }
    }

    &__limiter {
        select {
            @apply w-auto;
        }
    }

    &__actions,
    &__limiter,
    &__meta {
        @apply px-8 py-4 whitespace-nowrap;
    }
}
