.c-table {

    table {
        min-width: 100%;

        thead {

            tr {
                th {
                    @apply px-4 py-2 text-left font-medium;

                    background-color: rgba(0, 0, 0, 0.10);
                }
            }
        }

        tbody {

            tr {
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    @apply shadow-sm;

                    border: 1px solid rgba(0, 0, 0, 0.05);
                    background-color: rgba(0, 0, 0, 0.025);
                }

                td {
                    @apply px-4 py-1 whitespace-nowrap;
                }
            }
        }
    }

    &__content {
        @apply shadow-sm;

        overflow: hidden;
        margin: calc(var(--cp-spacing)*0.5rem);
        background-color: var(--cp-color-white);
        border-radius: calc(var(--cp-radius)*.5rem);
    }

    &__buttons {
        
        .a-button {
            @apply font-medium px-2 py-1;
        }
    }

    &__actions,
    &__limiter,
    &__meta {
        @apply px-4 py-1 whitespace-nowrap;
    }
}
