.c-buttons {
    display: flex;
}

.a-button {
    display: inline-block;
    color: var(--cp-color-white);
    border-radius: calc(var(--cp-radius)*.5rem);
    background-color: var(--cp-color-primary);
    padding: calc(var(--cp-spacing)*0.25rem) calc(var(--cp-spacing)*0.5rem);

    span {
        color: var(--cp-color-white);
    }
}
