.ls-buttons {
    display: flex;
}

.ls-button {
    display: inline-block;
    border-radius: calc(var(--cp-radius)*.5rem);
    background-color: var(--cp-color-primary);
    padding: calc(var(--cp-spacing)*0.25rem) calc(var(--cp-spacing)*0.5rem);

    span {
        color: var(--cp-color-white);
        mix-blend-mode: lighten;
    }
}
