.ls-cp {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;

    * {
        font-size: var(--text-base);
        font-family: var(--font-sans);
    }

    &.--fixed-topbar {
        
        .ls-cp__topbar {
            position: static;
            width: calc(100%-var(--sidebar-width));
        }

        .ls-cp__content {
            padding-top: calc(var(--density)*.5rem);
        }
    }
}

.ls-cp__layout {
    display: flex;
    min-height: 100vh;

    >aside {}

    main {
        flex-grow: 1;
    }
}

.ls-cp__sidebar {
    width: 25%;
    max-width: 280px;

    color: var(--sidebar-text-color);
    background-color: var(--sidebar-bg-color);

    a {
        color: var(--sidebar-text-color);
    }
}

.ls-cp__brand {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: calc(var(--density)*1rem);
    height: calc(var(--density)*.5rem);
    background-color: var(--sidebar-bg-color);

    +div {
        padding: calc(var(--density)*1rem);
    }
}

.ls-cp__topbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--density)*1rem);
    height: calc(var(--density)*.5rem);

    color: var(--topbar-text-color);
    background-color: var(--topbar-bg-color);

    a {
        color: var(--sidebar-text-color);
    }
}

.ls-cp__content {
    padding: calc(var(--density)*1rem);
}

.ls-cp__shortcuts {
    display: flex;
    align-items: center;
    margin-left: calc(var(--density)*.5rem);

    >div {
        position: relative;
    }

    svg,
    img {
        width: calc(var(--density)*1rem);
        height: calc(var(--density)*1rem);
    }

    svg {
        color: var(--color-black);
    }
}

.ls-cp__dropdown {
    right: 0;
    z-index: 10;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #767676;
    padding: calc(var(--density)*1rem);

    > div {
        > a {
            display: block;
            white-space: nowrap;
        }
    }
}

.ls-cp__navigation {
    flex-grow: 1;

    >ul,
    >a {
        margin-bottom: calc(var(--density)*.5rem);
    }

    a {
        display: block;
    }
}

.ls-cp__meta {
    font-size: 75%;
}
