.ls-form {

    form {}
}

.ls-form__fields {}

.ls-form__controls {
    display: flex;
    align-items: center;
    //justify-content: end;

    >nav:first-of-type {
        //flex-grow: 1;
        margin-right: calc(var(--cp-spacing)*1rem);
    }
}

.ls-field {
    //margin-top: calc(var(--cp-spacing)*.5rem);
    margin-bottom: calc(var(--cp-spacing)*.5rem);
}

.ls-input {

    input[type="date"],
    input[type="text"],
    input[type="time"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="datetime-local"],
    textarea {
        color: var(--input-text-color);
        border-color: var(--input-text-color);
        background-color: var(--input-bg-color);
        padding: calc(var(--cp-spacing)*.25rem);
        border-radius: calc(var(--cp-radius)*.5rem);
    }
}
