.ls-cp {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--light);
}
.ls-cp * {
  color: var(--dark);
  font-size: var(--text-base);
  font-family: var(--font-sans);
}
.ls-cp.--topbar-fixed .ls-cp__topbar {
  position: fixed;
  width: calc(100% - var(--sidebar-width) - calc(var(--density)*2rem));
}
.ls-cp.--topbar-fixed .ls-cp__content {
  outline: none;
  margin-top: calc(var(--density)*2.5rem);
}
.ls-cp.--topbar-fixed.--topbar-brand .ls-cp__brand {
  position: fixed;
  width: calc(var(--sidebar-width) - calc(var(--density)*2rem));
}
.ls-cp.--topbar-fixed.--topbar-brand .ls-cp__brand + div {
  margin-top: calc(var(--density)*2.5rem);
}
.ls-cp.--topbar-brand .ls-cp__brand {
  background-color: var(--topbar-bg-color);
}

.ls-cp__layout {
  display: flex;
  min-height: 100vh;
}
.ls-cp__layout main {
  flex-grow: 1;
}

.ls-cp__sidebar {
  width: var(--sidebar-width);
  color: var(--sidebar-text-color);
  background-color: var(--sidebar-bg-color);
}
.ls-cp__sidebar a {
  color: var(--sidebar-text-color);
}

.ls-cp__brand {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: left;
  padding: 0 calc(var(--density)*1rem);
  height: calc(var(--density)*2.5rem);
  background-color: var(--sidebar-bg-color);
}
.ls-cp__brand + div {
  padding: calc(var(--density)*1rem);
}

.ls-cp__topbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: calc(var(--density)*2.5rem);
  padding: 0 calc(var(--density)*1rem);
  color: var(--topbar-text-color);
  background-color: var(--topbar-bg-color);
}
.ls-cp__topbar a {
  color: var(--topbar-text-color);
}

.ls-cp__content {
  padding: calc(var(--density)*1rem);
}

.ls-cp__shortcuts {
  display: flex;
  align-items: center;
  margin-left: calc(var(--density)*.5rem);
}
.ls-cp__shortcuts > div {
  position: relative;
}
.ls-cp__shortcuts > div > a,
.ls-cp__shortcuts > div > button {
  padding: 0;
  border: none;
  display: flex;
  background: none;
  align-items: center;
  border-radius: 999px;
  justify-content: center;
  height: calc(var(--density)*1.5rem);
  width: calc(var(--density)*1.5rem);
}
.ls-cp__shortcuts > div > a svg,
.ls-cp__shortcuts > div > a img,
.ls-cp__shortcuts > div > button svg,
.ls-cp__shortcuts > div > button img {
  width: calc(var(--density)*1rem);
  height: calc(var(--density)*1rem);
}
.ls-cp__shortcuts > div > a svg,
.ls-cp__shortcuts > div > button svg {
  color: var(--topbar-text-color);
}
.ls-cp__shortcuts > div > a img,
.ls-cp__shortcuts > div > button img {
  border-radius: 999px;
}

.ls-cp__dropdown {
  right: 0;
  z-index: 10;
  position: absolute;
  color: var(--light);
  background-color: var(--light);
  border: 1px solid var(--dark);
  padding: calc(var(--density)*.5rem);
  border-radius: calc(var(--radius)*1rem);
}
.ls-cp__dropdown > div > a {
  display: block;
  white-space: nowrap;
}

.ls-cp__navigation {
  flex-grow: 1;
}
.ls-cp__navigation > ul,
.ls-cp__navigation > a {
  margin-bottom: calc(var(--density)*.5rem);
}
.ls-cp__navigation a {
  display: block;
}
.ls-cp__navigation a.--active {
  color: var(--primary);
}

.ls-cp__meta {
  font-size: 75%;
}

.ls-form__controls {
  display: flex;
  align-items: center;
}
.ls-form__controls > nav:first-of-type {
  margin-right: calc(var(--density)*1rem);
}

.ls-field {
  margin-bottom: calc(var(--density)*.5rem);
}

.ls-input input, textarea {
  color: var(--dark);
  background-color: var(--light);
}

.ls-field > label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: inline-block;
}
.ls-field > label span {
  color: var(--color-red);
}

.ls-table table {
  min-width: 100%;
}
.ls-table table tr th {
  text-align: left;
}

.ls-buttons {
  display: flex;
}

.ls-button {
  display: inline-block;
  padding: calc(var(--density)*0.25rem) calc(var(--density)*0.5rem);
}
