.o-cp {
  display: flex;
  margin: 0px;
  min-height: 100vh;
  min-width: 100%;
  background-color: var(--cp-color-light);
}

.o-cp__sidebar {
  width: 25%;
  max-width: 300px;
}

.o-cp__topbar {
  width: 100%;
  height: calc(var(--cp-spacing)*2.5rem);
}

.o-cp__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.o-cp__content {
  flex-grow: 1;
}

.c-topbar {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0px;
  width: 100%;
  color: var(--cp-color-dark);
  background-color: var(--cp-color-white);
  padding: 0 calc(var(--cp-spacing)*1rem);
}

.c-topbar__buttons {
  flex-grow: 1;
}

.c-sidebar {
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100vh;
  min-width: 100%;
  padding: 0px;
  color: var(--cp-color-white);
  background-color: var(--cp-color-primary);
}

.c-sidebar__brand {
  display: flex;
  align-items: center;
  justify-content: left;
  height: calc(var(--cp-spacing)*2.5rem);
  padding: 0 calc(var(--cp-spacing)*1rem);
}

.c-sidebar__brand a {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--cp-color-white);
}

.c-sidebar__nav {
  flex-grow: 1;
  padding: calc(var(--cp-spacing)*.5rem);
}

.c-sidebar__nav nav > a {
  display: block;
  padding: calc(var(--cp-spacing)*.5rem);
  border-radius: calc(var(--cp-radius)*.5rem);
}

.c-sidebar__nav nav > a.-active {
  font-weight: 700;
  background-color: #00000015;
}

.c-sidebar__nav nav ul {
  margin-bottom: calc(var(--cp-spacing)*.5rem);
}

.c-sidebar__nav nav ul li {
  list-style-type: disc;
  margin-left: calc(var(--cp-spacing)*1rem);
}

.c-sidebar__nav nav ul li a {
  display: block;
  padding: calc(var(--cp-spacing)*.125rem);
  padding-left: 0;
}

.c-sidebar__nav nav ul li a.-active {
  font-weight: 700;
}

.c-shortcuts {
  display: flex;
  align-items: center;
  margin-left: calc(var(--cp-spacing)*.5rem);
}

.c-shortcuts > div {
  position: relative;
}

.c-shortcuts > div > a,
.c-shortcuts > div > button {
  padding: 0;
  border: none;
  display: flex;
  background: none;
  align-items: center;
  border-radius: 999px;
  justify-content: center;
  height: calc(var(--cp-spacing)*1.5rem);
  width: calc(var(--cp-spacing)*1.5rem);
  border: 2px solid transparent;
  outline: none;
}

.c-shortcuts > div > a:active, .c-shortcuts > div > a:focus,
.c-shortcuts > div > button:active,
.c-shortcuts > div > button:focus {
  border-color: var(--cp-color-primary);
}

.c-shortcuts > div > a svg,
.c-shortcuts > div > a img,
.c-shortcuts > div > button svg,
.c-shortcuts > div > button img {
  width: calc(var(--cp-spacing)*1.25rem);
  height: calc(var(--cp-spacing)*1.25rem);
}

.c-shortcuts > div > a svg,
.c-shortcuts > div > button svg {
  color: var(--topbar-text-color);
}

.c-shortcuts > div > a img,
.c-shortcuts > div > button img {
  border-radius: 999px;
}

.c-dropdown__content {
  display: none;
}

.c-dropdown.-open__content {
  display: block;
}

.ls-form__controls {
  display: flex;
  align-items: center;
}

.ls-form__controls > nav:first-of-type {
  margin-right: calc(var(--cp-spacing)*1rem);
}

.ls-field {
  margin-bottom: calc(var(--cp-spacing)*.5rem);
}

.ls-field > label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.ls-field > label span {
  color: var(--color-red);
}

.ls-table table {
  min-width: 100%;
}

.ls-table table tr th {
  text-align: left;
}

.c-buttons {
  display: flex;
}

.a-button {
  font-weight: 700;
  color: var(--cp-color-white);
  background-color: var(--cp-color-primary);
  border-radius: calc(var(--cp-radius)*.5rem);
  padding: calc(var(--cp-spacing)*0.35rem) calc(var(--cp-spacing)*0.5rem);
}

.a-button span {
  color: var(--cp-color-white);
}

.ls-input.--toggle-input input[type=checkbox] + .toggle {
  width: 60px;
  height: 32px;
  padding: 4px;
  border-radius: 42px;
  background: #B7BABF;
  box-sizing: border-box;
  transition: background 0.5s ease;
}

.ls-input.--toggle-input input[type=checkbox] + .toggle .toggle-pill {
  display: block;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 0;
  transition: margin 0.08s cubic-bezier(0.77, 0.49, 1, 1);
}

.ls-input.--toggle-input input[type=checkbox]:checked + .toggle {
  background: #3076F6;
  transition: background 0.5s ease;
}

.ls-input.--toggle-input input[type=checkbox]:checked + .toggle .toggle-pill {
  margin-left: calc(100% - 24px);
}

.ls-input.--toggle-input input[type=checkbox]:focus + .toggle {
  background: #3076F6;
}

.ls-input.--toggle-input input[type=checkbox] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
}
