:root {
  /** ---------------------------
   * Fundamentals
   --------------------------- */
  --cp-spacing: 1;
  --cp-radius: 1;
  --cp-color-light: #efefef;
  --cp-color-dark: #151515;
  --cp-color-primary: #4e42d9;
  --cp-color-secondary: #1f1f1f;
  /** ---------------------------
   * Basic CP color.
   --------------------------- */
  --cp-color-black: #000;
  --cp-color-white: #fff;
  --cp-color-gray: #6B7280;
  --cp-color-red: #EF4444;
  --cp-color-yellow: #F59E0B;
  --cp-color-green: #10B981;
  --cp-color-blue: #3B82F6;
  --cp-screen-sm: 640px;
  --cp-screen-md: 768px;
  --cp-screen-lg: 1024px;
  --cp-screen-xl: 1280px;
  --cp-screen-2xl: 1536px;
  --cp-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --cp-font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --cp-font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
